<!DOCTYPE html>
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml">
    <!--

    Woof! Go Dawgs!

    8888888888888888888888888888888888888888
    8888888888888888888888888888888888888888
    8888888888888888888888888888888888888888
    888888          888   8888       8888888
    888888          88:    888       8888888
    88888888     88888     88888   888888888
    888888888     8888     88888  8888888888
    888888888     888       888   8888888888
    888888888     888       888  88888888888
    8888888888     8   8     8   88888888888
    8888888888     8   8     8   88888888888
    88888888888       88        888888888888
    88888888888       888       888888888888
    88888888888      8888      8888888888888
    888888888888     88888     8888888888888
    8888888888888888888888888888888888888888
    8888888888888888888888888888888888888888
    8888888888888888888888888888888888888888

    -->
    <head>
{% block head %}
        <title>{% block title %}Patrick Dugan{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="icon" href="/images/favicon.png" type="image/png"/>
        <link rel="alternate" type="application/rss+xml" href="https://blog.patdugan.me/feeds/posts/default?alt=rss"/>
        <!-- twitter metadata -->
        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:creator" content="@doog"/>
        <!-- opengraph metadata -->
        <meta property="og:type" content="website"/>
        <meta property="og:url" content="{% block page_url %}https://www.patdugan.me{% endblock %}"/>
        <meta property="og:title" content="{% block page_title %}{{ self.title() }}{% endblock %}"/>
        <meta property="og:description" content="{% block page_description %}Patrick Dugan is a designer at the Chan Zuckerberg Initiative who previously worked at Quora, Google, and Nextdoor. He was also a member of the Designer Fund's professional development program, Bridge.{% endblock %}"/>
        <meta property="og:image" content="{% block card_image %}https://www.patdugan.me/images/me.jpg{% endblock %}"/>
        <!-- stylesheets -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600"/>
        <link rel="stylesheet" type="text/css" media="screen" href="/css/reset.css"/>
{% block page_css %}{% endblock %}
{% endblock %}
    </head>
    <body itemscope itemtype="https://schema.org/{% block schema_type %}WebPage{% endblock %}">
        <div class="body_outer_wrapper">
            <div class="content">
{% block content %}{% endblock %}
            </div>
            <div class="footer">
                <ul>
{% block footer %}
                    <li><a href="https://blog.patdugan.me" target="_blank">Blog</a></li>
                    <li><a href="https://dribbble.com/patdugan" target="_blank">Dribbble</a></li>
                    <li><a href="mailto:dugan.pat@gmail.com">Email</a></li>
                    <li><a href="https://github.com/pdugan20" target="_blank">Github</a></li>
                    <li><a href="/newsletter">Newsletter</a></li>
                    <li><a href="https://twitter.com/doog" target="_blank">Twitter</a></li>
{% endblock %}
                </ul>
            </div>
        </div>
{% block js %}
        <script src="https://www.googletagmanager.com/gtag/js?id=UA-28054051-3" async></script>
        <script src="/js/site-analytics.js"></script>
{% endblock %}
    </body>
</html>
