{% extends "project_base.html" %}
{% block title %}Hikearound | {{ super() }}{% endblock %}
{% block page_title %}Hikearound{% endblock %}
{% block page_url %}{{ super() }}/project/hikearound{% endblock %}
{% block page_description %}Patrick Dugan is the founder of Hikearound, the easiest way to discover, save, and share great local hikes.{% endblock %}
{% block page_css %}
        {{ super() }}
        <link rel="stylesheet" type="text/css" media="screen" href="/css/style.css?v={{ app_version }}"/>
        <link rel="stylesheet" type="text/css" media="screen" href="/css/project.css?v={{ app_version }}"/>
{% endblock %}
{% block content %}{{ super() }}
                <div itemprop="text">
                    <div class="text_block">Beginning in earnest during the first COVID-19 lockdown in March of 2020, I began designing and building a multi-platform hiking application, the aim of which was to provide a best in class experience for discovering, saving, and sharing great local hikes.</div>
                    <div class="text_block bottom_block">Beyond looking for a way to keep myself occupied while sheltering in place, I've always really enjoyed hiking and camping and felt that there was substantial room for improvement and innovation amongst existing applications targeting hikers.</div>
                    <div class="video phone_wrapper">
                        <img class="video_phone_cover" src="/images/phones/iphone-x-cover.png?v={{ app_version }}" alt="An image of the iPhone X in Space Gray">
                        <video id="hikeVideo" class="phone_video" width="240" loop muted playsinline>
                            <source src="/videos/hike.mp4?v={{ app_version }}" type="video/mp4" />
                        </video>
                    </div>
                    <div class="photo_description video">The Hike screen for Hikearound on iOS as seen interacting with reviews and a detailed hike map. <a class="play_link" onclick="playVideo(document.getElementById('hikeVideo'))">Play video</a></div>
                    <div class="text_block list_intro">The goals I set for this project were to:</div>
                    <ul class="section_list project_list">
                        <li>Design and build an application that would afford recreational and seasoned hikers a best in class experience for discovering, saving, and sharing great hikes</li>
                        <li>Offer a feature-rich iOS client and pair it with a streamlined web client, the purpose of which would be to funnel new users into the native application</li>
                        <li>Create a continuous reengagement channel through which existing users would be nudged back into the application when new hikes or content became available</li>
                        <li>Create a robust feature-set for the applications minimum viable product while also cataloging fast-follow features to be tackled post-launch</li>
                    </ul>
                    <div class="video phone_wrapper">
                        <img class="video_phone_cover" src="/images/phones/iphone-x-cover.png?v={{ app_version }}" alt="An image of the iPhone X in Space Gray">
                        <video id="mapVideo" class="phone_video" width="240" loop muted playsinline>
                            <source src="/videos/map.mp4?v={{ app_version }}" type="video/mp4" />
                        </video>
                    </div>
                    <div class="photo_description video">The Map screen for Hikearound on iOS as seen exploring hikes across geographic regions. <a class="play_link" onclick="playVideo(document.getElementById('mapVideo'))">Play video</a></div>
                    <div class="text_block list_intro">Over the course of 2020, at a platform level I went on to build:</div>
                    <ul class="section_list project_list">
                        <li>A native iOS application that allowed logged-in users to browse, save, review, and share hikes</li>
                        <li>A web application which mirrored some of the core functionality of the iOS app, and which was deep-linked with individual hike screens on the native client</li>
                        <li>A notification platform which sent either emails, push notifications, or both to users on a scheduled or asynchronous basis</li>
                    </ul>
                    <div class="video phone_wrapper">
                        <img class="video_phone_cover" src="/images/phones/iphone-x-cover.png?v={{ app_version }}" alt="An image of the iPhone X in Space Gray">
                        <video id="feedVideo" class="phone_video" width="240" loop muted playsinline>
                            <source src="/videos/feed.mp4?v={{ app_version }}" type="video/mp4" />
                        </video>
                    </div>
                    <div class="photo_description video">The Home screen for Hikearound on iOS as seen filtering, viewing, and favoriting hikes. <a class="play_link" onclick="playVideo(document.getElementById('feedVideo'))">Play video</a></div>
                    <div class="text_block list_intro">Some of the core functionality I focused on building as a part of an MVP for the iOS client included:</div>
                    <ul class="section_list project_list">
                        <li>The ability to search for hikes by name, description, or location</li>
                        <li>The ability for users to use the iOS application even when they declined to share their location</li>
                        <li>The ability to filter through nearby hikes using a variety of criteria like distance and difficulty</li>
                        <li>The ability to save hikes for later recall, and to share those hikes either inside or outside of the application</li>
                        <li>The means by which to allow access to more detailed information about a hike like elevation data without making the experience feel overburdening</li>
                        <li>The ability to create and interact with user generated content like reviews</li>
                    </ul>
                    <div class="video phone_wrapper">
                        <img class="video_phone_cover" src="/images/phones/iphone-x-cover.png?v={{ app_version }}" alt="An image of the iPhone X in Space Gray">
                        <video id="searchVideo" class="phone_video" width="240" loop muted playsinline>
                            <source src="/videos/search.mp4?v={{ app_version }}" type="video/mp4" />
                        </video>
                    </div>
                    <div class="photo_description video">The Search screen for Hikearound on iOS as viewed searching for hikes by name. <a class="play_link" onclick="playVideo(document.getElementById('searchVideo'))">Play video</a></div>
                    <div class="text_block">In addition to what I considered to be critical MVP features the application needed at launch, I also spent some time implementing features I believed would help me create a more robust and extensible design system.</div>
                    <div class="text_block">Specifically, I internationalized the iOS and web clients, as well as all of the strings passed through the notification system for both English and Spanish, in order to ensure the design system as implemented could accommodate variable string lengths.</div>
                    <div class="video phone_wrapper">
                        <img class="video_phone_cover" src="/images/phones/iphone-x-cover.png?v={{ app_version }}" alt="An image of the iPhone X in Space Gray">
                        <video id="notificationVideo" class="phone_video" width="240" loop muted playsinline>
                            <source src="/videos/notifications.mp4?v={{ app_version }}" type="video/mp4" />
                        </video>
                    </div>
                    <div class="photo_description video">The Notification screen for Hikearound on iOS as viewed receiving a 'Review Like' notification. <a class="play_link" onclick="playVideo(document.getElementById('notificationVideo'))">Play video</a></div>
                    <div class="text_block">I also added dark mode theme support for the iOS client, as well as for the email templating system, in order to ensure that even with a reduced color palette, that the text hierarchy remained clear for users.</div>
                    <div class="text_block bottom_block">Outside of features I built directly in support of the design system itself, I also built a moderation system for user generated content in order to help ensure Hikearound remains a welcoming space for all its users.</div>
                    <div class="image_group inline_group">
                        <a class="image_wrapper mobile_inline" href="/images/projects/hikearound/02.png?v={{ app_version }}">
                            <img src="/images/projects/hikearound/02.png?v={{ app_version }}" alt="An image of the Hikearound hike screen for iOS as view in dark mode.">
                        </a>
                        <a class="image_wrapper mobile_inline" href="/images/projects/hikearound/01.png?v={{ app_version }}">
                            <img src="/images/projects/hikearound/01.png?v={{ app_version }}" alt="An image of the Hikearound profile screen for iOS as view in dark mode">
                        </a>
                        <div class="photo_description">The Hike and Profile screens for Hikearound on iOS as viewed in dark mode.</div>
                    </div>
                    <div class="text_block">Overall, I had a ton of fun building Hikearound and theres still a lot of work on my project roadmap that I plan on tackling in the months to come. When looking at what I was able to launch as an MVP, I’m quite happy with where the product is today and I’m excited about where it can go as it continues to grow and scale.</div>
                    <div class="text_block">For an in-depth look at how I built Hikearound's email and push notification system, see my <a href="https://medium.com/hikearound/designing-and-building-a-minimally-viable-notification-system-c5ce4f631d6f" class="naked_link" target="_blank" itemprop="relatedLink">blog post</a> on the subject.</div>
                    <div class="text_block">Sign-up for Hikearound today and give it a try by visiting <a href="https://www.tryhikearound.com" class="naked_link" target="_blank" itemprop="relatedLink">tryhikearound.com</a>.</div>
                </div>
{% endblock %}
{% block footer %}
                    <li class="back_li"><a class="back_link" href="/" itemprop="relatedLink">Back Home</a></li>
                    <li class="forward_li"><a class="forward_link" href="/project/quora-messages" itemprop="relatedLink">Next Project</a></li>
{% endblock %}
