{% extends "base.html" %}
{% block title %}Portfolio | {{ super() }}{% endblock %}
{% block page_css %}
        <link rel="stylesheet" type="text/css" media="screen" href="/css/style.css?v={{ app_version }}"/>
{% endblock %}
{% block content %}
                <div class="image_wrapper"><img src="/images/me.jpg?v={{ app_version }}" alt="A photo of my Harley and I taken by my friend Katie Hendricks."></div>
                <div itemprop="text">
                    <div class="text_block">Hi! My name is Patrick Dugan and I'm currently a designer at <a href="https://about.facebook.com/" target="_blank">Meta</a> working on <a href="https://www.messenger.com" target="_blank">Messenger</a>. I'm also building <a href="https://www.tryhikearound.com" target="_blank">Hikearound</a>, the easiest way to discover, save, and share great local hikes.</div>
                    <div class="text_block">I previously worked on design teams at the <a href="https://www.chanzuckerberg.com" target="_blank">Chan Zuckerberg Initiative</a>, <a href="https://www.quora.com" target="_blank">Quora</a>, <a href="https://www.nextdoor.com" target="_blank">Nextdoor</a> and <a href="https://www.google.com" target="_blank">Google</a> as an individual contributor and people manager. I was also a member of the <a href="https://www.designerfund.com" target="_blank">Designer Fund's</a>  professional development program, <a href="https://designerfund.com/bridge/" target="_blank">Bridge</a>.</div>
                    <div class="text_block">I live in Seattle and attended the <a href="https://www.uw.edu" target="_blank">University of Washington</a> where I studied Human Computer Interaction.</div>
                    <div class="text_block">I enjoy running, camping, writing, <a href="/vinyl">listening to records</a>, and working on my Harley.</div>
                </div>
                <div class="section_header">Projects</div>
                <ul class="section_list decimal_list">
                    <li>
                        <a class="list_link" href="/project/hikearound" itemprop="relatedLink">
                            <div class="list_item_title">Hikearound</div>
                            <div class="text_block list_text">I founded Hikearound and designed and built its web and mobile apps.</div>
                        </a>
                    </li>
                    <li>
                        <a class="list_link" href="/project/quora-messages" itemprop="relatedLink">
                            <div class="list_item_title">Quora Messages</div>
                            <div class="text_block list_text">I led the design and development of a redesign for Quora's messaging platform.</div>
                        </a>
                    </li>
                    <li>
                        <a class="list_link" href="/project/quora-ads-manager" itemprop="relatedLink">
                            <div class="list_item_title">Quora Ads Manager</div>
                            <div class="text_block list_text">I led the design and product direction for Quora's Ads Manager from 2016 to 2019.</div>
                        </a>
                    </li>
                    <li>
                        <a class="list_link" href="/project/quora-emails" itemprop="relatedLink">
                            <div class="list_item_title">Quora Emails</div>
                            <div class="text_block list_text">I redesigned, rebuilt, and rewrote Quora's consumer facing email platform.</div>
                        </a>
                    </li>
                </ul>
                <div class="section_header">Writing</div>
                <ul class="section_list decimal_list">
                    <li>
                        <a class="list_link" href="https://medium.com/hikearound/designing-and-building-a-minimally-viable-notification-system-c5ce4f631d6f" target="_blank">
                            <div class="list_item_title">Designing & Building A Minimally Viable Notification System</div>
                            <div class="list_item_metadata">Hikearound</div>
                            <div class="text_block list_text">A deep dive into how I designed and built Hikearound's email and push notification system.</div>
                        </a>
                    </li>
                    <li>
                        <a class="list_link" href="https://medium.com/quora-design/verifying-the-alt-right-the-importance-of-designing-for-user-understanding-5a673761aa4f" target="_blank">
                            <div class="list_item_title">Verifying the Alt-Right</div>
                            <div class="list_item_metadata">Quora Design</div>
                            <div class="text_block list_text">Insights into how design decisions can have unexpected and sometimes dangerous consequences.</div>
                        </a>
                    </li>
                    <li>
                        <a class="list_link" href="https://engblog.nextdoor.com/how-design-and-engineering-partner-at-nextdoor-5b9610f01469" target="_blank">
                            <div class="list_item_title">How Design & Engineering Partner at Nextdoor</div>
                            <div class="list_item_metadata">Nextdoor Engineering</div>
                            <div class="text_block list_text">The collaborative process that Nextdoor uses to ship new features.</div>
                        </a>
                    </li>
                </ul>
{% endblock %}
