{% extends "project_base.html" %}
{% block title %}Quora Ads Manager{% endblock %}
{% block page_css %}
        <link rel="stylesheet" type="text/css" media="screen" href="/css/style.css?v={{ app_version }}">
        <link rel="stylesheet" type="text/css" media="screen" href="/css/project.css?v={{ app_version }}">
        {{ super() }}{% endblock %}
{% block content %}
                <div class="section_header top_header"><a href="/" class="back_arrow"></a>Quora Ads Manager</div>
                <div class="text_block">I currently lead the design and product direction for Quora's Ads Manager and have done so since Quora's ads and monetization team was created in 2016.</div>
                <div class="image_group">
                    <a class="image_wrapper" href="/images/projects/quora_ads_manager/01.png">
                        <img src="/images/projects/quora_ads_manager/01.png" alt="A photo of the performance overview page for the Quora Ads Manager.">
                    </a>
                </div>
                <div class="image_group">
                    <a class="image_wrapper" href="/images/projects/quora_ads_manager/02.png">
                        <img src="/images/projects/quora_ads_manager/02.png" alt="A photo of the Ad Set creation page for the Quora Ads Manager.">
                    </a>
                </div>
                <div class="image_group">
                    <a class="image_wrapper" href="/images/projects/quora_ads_manager/03.png">
                        <img src="/images/projects/quora_ads_manager/03.png" alt="A photo of the Ad creation page for the Quora Ads Manager.">
                    </a>
                </div>
                <div class="text_block">I currently lead a team of 2 designers.</div>
{% endblock %}
{% block footer %}
                    <li class="back_li"><a class="back_link" href="/project/quora-messages">Previous Project</a></li>
                    <li class="forward_li"><a class="forward_link" href="/">Back Home</a></li>
{% endblock %}
