{% extends "base.html" %}
{% block title %}Quora Messages{% endblock %}
{% block page_css %}
        <link rel="stylesheet" type="text/css" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/fluidbox/2.0.5/css/fluidbox.min.css">
{% endblock %}
{% block content %}
                <div class="section_header top_header">Quora Messages</div>
                <div class="text_block">In the summer of 2018 I lead the design and development of a redesign of Quora Messages.</div>
                <a class="image_wrapper project_image" href="/images/projects/quora_messages/01.png" title="">
                    <img  src="/images/projects/quora_messages/01.png" alt="" title="">
                </a>
                <div class="text_block">In the summer of 2018 I lead the design and development of a redesign of Quora Messages.</div>
{% endblock %}
{% block footer %}
                    <li class="back_li"><a class="back_link" href="/">Back Home</a></li>
                    <li class="forward_li"><a class="forward_link" href="/project/quora-ads-manager">Next Project</a></li>
{% endblock %}
{% block js %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fluidbox/2.0.5/js/jquery.fluidbox.min.js"></script>
    <script type="text/javascript" src="/js/scripts.js"></script>
{% endblock %}