{% extends "project_base.html" %}
{% block title %}Quora Emails{% endblock %}
{% block page_url %}{{ super() }}/project/quora-messages{% endblock %}
{% block page_description %}Patrick Dugan led a project in 2019 to redesign and rebuild Quora's consumer emails.{% endblock %}
{% block page_css %}
        {{ super() }}
        <link rel="stylesheet" type="text/css" media="screen" href="/css/style.css?v={{ app_version }}"/>
        <link rel="stylesheet" type="text/css" media="screen" href="/css/project.css?v={{ app_version }}"/>
{% endblock %}
{% block content %}{{ super() }}
                <div itemprop="text">
                    <div class="text_block">In 2019, I led a project during a week-long internal hackathon which redesigned, rewrote, and rearchitected forty of Quora's consumer facing emails. At the time, many of Quora's emails had not been actively worked on in years and there was a tremendous amount of room for improvement.</div>
                    <div class="text_block">Put more simply, Quora's emails lacked consistent design, a consistent voice and tone, were in some cases missing clear calls to action, and had never been optimized to render correctly on mobile devices.</div>
                    <div class="image_group">
                        <a class="image_wrapper" href="/images/projects/quora_emails/01.png?v={{ app_version }}">
                            <img src="/images/projects/quora_emails/01.png?v={{ app_version }}" alt="The main screen for Quora Messages on desktop.">
                        </a>
                        <div class="photo_description">The Quora Digest email as viewed in Gmail on desktop.</div>
                    </div>
                    <div class="text_block list_intro">The goals I set for this project were to:</div>
                    <ul class="section_list project_list">
                        <li>Create a design system that could be universally applied to all emails Quora sent to its users</li>
                        <li>Rewrite and update copy across emails so that it was consistent in voice and tone</li>
                        <li>Ensure every email we sent would render correctly on mobile devices as well as a variety of email clients</li>
                        <li>Rearchitect our email platform such that it was easier to create new emails, easier to maintain existing ones, and harder to introduce visual discrepancies into our email templating system</li>
                        <li>Increase both user engagement and revenue</li>
                    </ul>
                    <div class="image_group inline_group">
                        <a class="image_wrapper mobile_inline" href="/images/projects/quora_emails/03.png?v={{ app_version }}">
                            <img src="/images/projects/quora_emails/03.png?v={{ app_version }}" alt="An image of the main mobile screen for Quora Messages.">
                        </a>
                        <a class="image_wrapper mobile_inline" href="/images/projects/quora_emails/04.png?v={{ app_version }}">
                            <img src="/images/projects/quora_emails/04.png?v={{ app_version }}" alt="An image of a detailed mobile conversation screen for Quora Messages.">
                        </a>
                        <div class="photo_description">The New Answer email and Quora Digest email as viewed in Apple Mail on iOS.</div>
                    </div>
                    <div class="text_block list_intro">Over the course of a week I designed, rewrote, and rebuilt 40 emails. Some of the emails I worked on included:</div>
                    <ul class="section_list project_list">
                        <li>Quora's daily and weekly answer digests</li>
                        <li>New answers to questions users had asked or follow</li>
                        <li>New user follows</li>
                        <li>New user comments</li>
                        <li>New answer shares</li>
                        <li>New requests to answer in-demand questions</li>
                    </ul>
                    <div class="text_block">Tests I ran with the email system I built dramatically increased user engagement while simultaneously boosting the performance of ad revenue generated by injecting promoted content into Quora's digest emails.</div>
                    <div class="text_block">Something I've always really appreciated about Quora's culture is that it empowers employees to take ownership of different areas of our product. In this case, even though I was working cross functionally with many different internal teams that owned the emails I worked on during this project, those teams were all incredibly receptive to working with me to create a new unified design system.</div>
                    <div class="image_group">
                        <a class="image_wrapper" href="/images/projects/quora_emails/02.png?v={{ app_version }}">
                            <img src="/images/projects/quora_emails/02.png?v={{ app_version }}" alt="An image of a detailed desktop conversation screen for Quora Messages.">
                        </a>
                        <div class="photo_description">The New Answer email as viewed in Gmail on desktop.</div>
                    </div>
                    <div class="text_block">Give the Quora Digest and our other emails a try for yourself by signing-up when you visit <a href="https://www.quora.com/" class="naked_link" target="_blank" itemprop="relatedLink">quora.com</a>.</div>
                </div>
{% endblock %}
{% block footer %}
                    <li class="back_li"><a class="back_link" href="/project/quora-ads-manager" itemprop="relatedLink">Previous Project</a></li>
                    <li class="forward_li"><a class="forward_link" href="/" itemprop="relatedLink">Back Home</a></li>
{% endblock %}
