{% extends "base.html" %}
{% block title %}Quora Ads Manager{% endblock %}
{% block page_css %}
        <link rel="stylesheet" type="text/css" media="screen" href="/css/style.css?{{ app_version }}">
        <link rel="stylesheet" type="text/css" media="screen" href="/css/project.css?{{ app_version }}">
        <link rel="stylesheet" type="text/css" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/fluidbox/2.0.5/css/fluidbox.min.css">
{% endblock %}
{% block content %}
                <div class="section_header top_header"><a href="/" class="back_arrow"></a>Quora Ads Manager</div>
                <div class="text_block">I currently lead the design and product direction for Quora's Ads Manager and have done so since Quora's ads and monetization team was created in 2016.</div>
                <div class="image_group">
                    <a class="image_wrapper" href="/images/projects/quora_messages/01.png">
                        <img src="/images/projects/quora_messages/01.png" alt="A photo of the main desktop screen for Quora Messages.">
                    </a>
                </div>
                <div class="text_block">I currently lead a team of 2 designers.</div>
{% endblock %}
{% block footer %}
                    <li class="back_li"><a class="back_link" href="/project/quora-messages">Previous Project</a></li>
                    <li class="forward_li"><a class="forward_link" href="/">Back Home</a></li>
{% endblock %}
{% block js %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fluidbox/2.0.5/js/jquery.fluidbox.min.js"></script>
    <script type="text/javascript" src="/js/scripts.js"></script>
{% endblock %}