{% extends "project_base.html" %}
{% block title %}Quora Messages{% endblock %}
{% block page_css %}
        <link rel="stylesheet" type="text/css" media="screen" href="/css/style.css?v={{ app_version }}">
        <link rel="stylesheet" type="text/css" media="screen" href="/css/project.css?v={{ app_version }}">
        {{ super() }}{% endblock %}
{% block content %}
                <div class="section_header top_header"><a href="/" class="back_arrow"></a>Quora Messages</div>
                <div class="text_block">In the summer of 2018 I led the design and development of a redesign of Quora Messages.</div>
                <div class="image_group">
                    <a class="image_wrapper" href="/images/projects/quora_messages/01.png">
                        <img src="/images/projects/quora_messages/01.png" alt="A photo of the main desktop screen for Quora Messages.">
                    </a>
                </div>
                <div class="text_block">In the summer of 2018 I led the design and development of a redesign of Quora Messages.</div>
{% endblock %}
{% block footer %}
                    <li class="back_li"><a class="back_link" href="/">Back Home</a></li>
                    <li class="forward_li"><a class="forward_link" href="/project/quora-ads-manager">Next Project</a></li>
{% endblock %}
