{% extends "base.html" %}
{% block title %}{{ super() }}'s Vinyl Collection{% endblock %}
{% block page_css %}
        <link rel="stylesheet" type="text/css" media="screen" href="/css/style.css?v={{ app_version }}">
        <link rel="stylesheet" type="text/css" media="screen" href="/css/vinyl.css?v={{ app_version }}">
{% endblock %}
{% block content %}
                <div class="section_header top_header"><a href="/" class="back_arrow"></a>Vinyl Collection</div>
                <div class="text_block">I love listening to vinyl and currently have <a href="https://www.discogs.com/user/patdugan/collection" target="_blank">{{record_collection|length}} records</a> in my collection. I listen on a <a href="https://www.radiomuseum.org/r/sony_str_1800str180.html" target="_blank">Sony STR-1800</a> receiver with a <a href="https://www.vinylengine.com/library/sony/ps-3300.shtml" target="_blank">Sony PS-3300</a> turntable.</div>
                <div class="record_collection_wrapper">
{% for record in record_collection %}
                <a class="record_wrapper" href="{{ record.4 }}" target="_blank">
                    <img class="record_cover" src="./images/vinyl/{{ record.0 }}.jpg" alt="{{ record.1 }}">
                    <div class="record_metadata">
                        <div class="record_name">{{ record.1 }}</div>
                        <div class="artist_name">{{ record.2 }}, {{ record.3 }}</div>
                    </div>
                </a>
{% endfor %}
                </div>
{% endblock %}
{% block footer %}
                    <li><a class="back_link" href="/">Back Home</a></li>
{% endblock %}
