# git files
.gcloudignore
.git
.gitattrubites
.gitignore

# python pycache
__pycache__/

# misc files
.DS_Store
*.pyc

# unneeded template files
static/less/
static/css/variables.css
static/less-watch-compiler.config.json
template/blog.html
