@import "less/variables";

.image_wrapper {
    display: inline-block;

    &.desktop_inline {
        width: 48.9%;
    }

    &.mobile_inline {
        width: 47.9%;
    }
}

.photo_description {
    color: @color_dark_gray;
    font-size: @font_size_regular;
    margin-bottom: @space_medium;

    &.center {
        text-align: center;
    }

    &.map_description {
        margin-top: @space_tiny;
    }
}

.image_group {
    margin: @space_huge 0 @space_large 0;

    img {
        margin-bottom: 0;
    }

    &.inline_group {
        a:first-child { 
            margin-right: @space_medium;
        }
    }
}

.fluidbox__ {
    &overlay {
        background-color: rgba(255,255,255,0.9);
    }

    &ghost {
        border-radius: @border_radius;
    }
}

.text_block.list_intro {
    margin-bottom: @space_smaller;
}

.section_list.project_list {
    margin-left: @space_medium * 2;
    margin-bottom: @space_medium;

    li {
        list-style-type: disc;
        padding-bottom: @space_tiny;
    }
}

.naked_link {
    font-weight: @font_weight_regular;
    text-decoration: underline;
}

@media only screen and (max-width: @iphone_width) {
    .image_group {
        padding: 0 @space_huge;
    }

    .image_wrapper.mobile_inline {
        width: 46%;
    }
}
