@import "less/variables";

body {
    font-family: 'Source Sans Pro', sans-serif;
    line-height: @font_regular_lh;
    background-color: @color_light_gray;
    color: @color_black;
}

a {
    text-decoration: none;
    color: @color_black;
    font-weight: @font_weight_bold;
    -webkit-tap-highlight-color: rgba(250, 250, 250, 0.6);
}

a:hover {
    color: @color_purple;
}

.body_outer_wrapper {
    display: block;
    max-width: @container_width;
    margin: @space_large auto;
}

.image_wrapper img {
    max-width: 100%;
    margin-bottom: @space_small;
    border-radius: @space_tiny;
}

.text_block {
    margin-bottom: @space_medium;
}

.footer {
    padding-top: @space_tiny;
    border-top: @border;
    margin-top: @space_large;
}

.footer li {
    display: inline-block;
    margin-right: @space_tiny;
}

.footer a {
    font-weight: @font_weight_regular;
    color: @color_dark_gray;
    font-size: @font_size_regular;
}

.footer a:hover {
    color: darken(@color_dark_gray, 15%);
}

.back_link:before {
    content: @back_arrow;
    color: @color_dark_gray;
    padding-right: @space_tiny;
    font-size: @font_size_medium;
    line-height: @font_tiny_lh;
}

.forward_link:after {
    content: @forward_arrow;
    color: @color_dark_gray;
    padding-left: @space_tiny;
    font-size: @font_size_medium;
    line-height: @font_tiny_lh;
}

li.forward_li {
    float: right;
    margin-right: 0;
}

.section_header {
    border-bottom: @border;
    font-size: @font_size_large;
    font-weight: @font_weight_bold;
    margin-bottom: @space_small;
    margin-top: @space_huge;
    padding-bottom: @space_tiny - 1px;
}

.back_arrow:before {
    content: @back_arrow;
    padding-right: @space_tiny;
    font-size: @font_size_large + 2px;
    line-height: @font_tiny_lh;
}

.section_header.top_header {
    margin-top: 0;
}

.text_block.list_text {
    padding-top: 2px;
    font-weight: initial;
}

.list_link {
    display: initial;
}

.list_item_title {
    display: inline;
}

.list_item_metadata {
    font-size: @font_size_regular;
    color: @color_dark_gray;
    font-weight: @font_weight_regular;
    display: inline;
}

.list_item_metadata:before {
    content: @middot;
    color: @color_dark_gray;
    padding: 0 @space_tiny 0 (@space_tiny - 1px);
}

.list_item_metadata:hover {
    color: @color_dark_gray;
}

.section_list li {
    list-style-type: decimal;
    list-style-position: outside;
    padding-left: @space_tiny;
}

.section_list {
    margin-left: @space_small;
}

.text_block_link {
    font-weight: initial;
}

li:hover .list_item_title {
    color: @color_purple;
}

li:hover .text_block.list_text {
    color: @color_black;
}

@media only screen and (max-width: 667px) {
    .body_outer_wrapper {
        max-width: initial;
        margin-top: 0;
    }

    .image_wrapper img {
        margin-bottom: @space_medium;
        border-radius: 0;
    }

    .text_block {
        padding: 0 @space_huge;
    }

    .footer {
        margin: 0 @space_huge;
    }

    .section_header {
        margin: 0 @space_huge @space_small @space_huge;
    }

    .section_header.top_header {
        margin-top: @space_huge;
    }

    .section_list {
        padding: 0 @space_huge;
    }

    .section_list .text_block {
        padding-right: 0;
    }

    .text_block.list_text {
        text-indent: 0;
        padding-left: 0;
    }
}
