@import "less/variables";

.record_cover {
    transition: all 0.5s ease;
    box-sizing: border-box;
    width: 100%;
}

.record_metadata {
    color: @color_white;
    opacity: 0;
    line-height: 1.2;
}

.record_name {
    position: absolute;
    line-height: 1.2;
    top: 8px;
    left: 8px;
    right: 8px;
}

.artist_name {
    position: absolute;
    bottom: 8px;
    left: 8px;
    right: 8px;
    font-weight: @font_weight_regular;
    font-size: 13px;
}

.record_wrapper {
    position: relative;
    display: inline-block;
    width: 135px;
    background-color: @color_purple;
    height: 135px;
    box-sizing: border-box;
    border: 1px solid @color_ultra_light_gray;;
}

.record_wrapper:hover {
    box-sizing: border-box;

    .record_metadata {
        opacity: 1;
    }

    .record_cover {
        transition: all 0.5s ease;
        opacity: 0.05;
    }
}

@media only screen and (max-width: 667px) {
}
