@import "less/variables";

@record_padding:     8px;
@record_dimension: 135px;

.record_collection_wrapper {
    margin-bottom: -@space_tiny;
}

.record_cover {
    transition: all 0.5s ease;
    box-sizing: border-box;
    width: 100%;
}

.record_metadata {
    color: @color_white;
    opacity: 0;
    line-height: @font_tiny_lh;
}

.record_name {
    position: absolute;
    line-height: @font_tiny_lh;
    top: @record_padding;
    left: @record_padding;
    right: @record_padding;
}

.artist_name {
    position: absolute;
    bottom: @record_padding;
    left: @record_padding;
    right: @record_padding;
    font-weight: @font_weight_regular;
    font-size: @font_size_tiny;
}

.record_wrapper {
    position: relative;
    display: inline-block;
    width: @record_dimension;
    background-color: @color_purple;
    height: @record_dimension;
    box-sizing: border-box;
    border: 1px solid @color_ultra_light_gray;;
}

.record_wrapper:hover {
    box-sizing: border-box;

    .record_metadata {
        opacity: 1;
    }

    .record_cover {
        transition: all 0.5s ease;
        opacity: 0.05;
    }
}

@media only screen and (max-width: 667px) {
    .record_collection_wrapper {
        padding: 0 @space_huge @space_medium @space_huge;
        margin-bottom: 0;
    }

    .record_wrapper {
        width: 32.5%;
        height: initial;
        display: inline-grid;
    }

    .record_name {
        font-size: @font_size_regular;
    }
}
