.image_wrapper {
  display: inline-block;
}
.image_wrapper.desktop_inline {
  width: 48.9%;
}
.image_wrapper.mobile_inline {
  width: 47.9%;
}
.photo_description {
  color: #9E9E9E;
  font-size: 14px;
  margin-bottom: 20px;
}
.photo_description.center {
  text-align: center;
}
.image_group {
  margin: 30px 0 25px 0;
}
.image_group img {
  margin-bottom: 0;
}
.image_group.inline_group a:first-child {
  margin-right: 20px;
}
.fluidbox__overlay {
  background-color: rgba(255, 255, 255, 0.9);
}
.fluidbox__ghost {
  border-radius: 3px;
}
.text_block.list_intro {
  margin-bottom: 10px;
}
.naked_link {
  font-weight: 400;
  text-decoration: underline;
}
@media only screen and (max-width: 667px) {
  .image_group {
    padding: 0 30px;
  }
  .image_wrapper.mobile_inline {
    width: 46%;
  }
}
